@font-face {
    font-family: "Amienne";
    src: url("../ASSETS/Fonts/Amienne\ Regular.ttf");
}

* {
    font-family: Amienne;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: #70D842;
    font-size: 5em;
    text-shadow: 6px 1px 5px rgba(189, 195, 199, 0.7);
}


.banniere {
    width: 100%;
}

.button {
    font-size: 2em;
}

.accordeon {
    display: flex;
    justify-content: center;
    height: 80vh;
}

.accordion {
    max-width: 60%;
}

.accordion .contentBox {
    position: relative;
    
}

.accordion .contentBox .label {
    position: relative;
    padding: 10px;
    background: rgb(179, 252, 216);
    border: solid rgba(189, 195, 199, 0.7) ;
    border-radius: 30px;
    border-width: 1px;
    cursor: pointer;
    font-size: 2em;
    text-align: center;
}

.accordion .contentBox .label::before {
    content: '+';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

.accordion .contentBox.active .label::before {
    content: '-';
}

.accordion .contentBox .content {
    position: relative;
    background: #F0F9EC;
    height: 0;
    overflow: hidden;
    overflow-y: auto ;
    font-size: 1.7em;

    left: 5%;
    width: 90%;

    transform: scaleY(0);    
    transform-origin: top;
    transition: transform 0.5s ease;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.accordion .contentBox.active .content {
    height: auto;
    width: 90%;
    left: 5%;
    transform: scaleY(1);

    border: solid rgba(189, 195, 199, 0.7) ;
    border-width: 1px;
}

.accordion .contentBox .content .produit {
    display: flex;
    font-size: 1.2em;
    margin: 10px;
}

.accordion .contentBox .content .produit p {
    margin-left: 2%;
}

.accordion .contentBox .content .produit img {
    width: 6%;
    height: 50px;
}

@media only screen and (max-width:720px) {
    h1 {
        font-size: 3em;
    }

    .accordion .contentBox .label {
        font-size: 1.5em;
    }

    .accordion .contentBox.active .content {
        font-size: 1em;
    }

    .accordion .contentBox .content .produit img {
        height: 30px;
    }
}

@media only screen and (max-width:600px) {
    .accordion .contentBox .content .produit img {
        width: 6%;
        height: 30px;
    }

    .accordion .contentBox .label::before {
        font-size: 1em;
    }
}

@media only screen and (max-width:500px) {

    h1 {
        font-size: 2em;
    }

    .accordion .contentBox .label {
        padding: 2px;
        font-size: 1em;
    }

    .accordion .contentBox.active .content {
        font-size: 0.7em;
    }

    .accordion .contentBox .content .produit img {
        height: 20px;
    }

    .accordion .contentBox .content .produit {
        display: flex;
        font-size: 1.2em;
        margin: 1%;
    }
}


